body {
background-color: #ffffff;
}

.ab {
	font-family: IBMPlexSans;
	font-size: 22pt;
	padding-left: 180pt;
	padding-right: 20pt;
	padding-top: 10pt;
	position: absolute;
	display: absolute;
}

p {
	font-family: Nitti-Normal;
    
	font-size: 22pt;
	padding-left: 180pt;
	padding-right: 20pt;
	padding-top: 10pt;
	position: absolute;
	display: absolute;
}

h1 {
	color: black;
	font-family: IBMPlexSans;
	font-size: 33px;
	margin-top: 90px;
	margin-left: -60px;
	transform: rotate(90deg);
	position: absolute;
}
h2 {
  font-size: 18pt;
margin-left: -50pt;
position: absolute;
    font-style:NeueHaasDisplay-Bold;
}
.ct {
	font-size: 13px;
	text-decoration: none;
	margin-top: 8px;
	margin-left: 20px;
	width: 200pt;
	position: absolute;
	transform: rotate(0deg);

}
.ct li {
	text-decoration: none;
	list-style-type: none;
	position: absolute;
}

.ct li a {
text-decoration: none;
color: black;
font-family: IBMPlexSans;
}

.projects li a:hover{
  color: #ed9d09;
  text-shadow:0px 0px 20px #ff7f23;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}

.about li a:hover{
	  color: #ed9d09;
  text-shadow:0px 0px 20px #ff7f23;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}

.projects li {
	text-decoration: none;
	list-style-type: none;
}
.projects li a {
	text-decoration: none;
	font-family: IBMPlexSans;
	color: black;
}
.projects {
	font-size: 18px;
	margin-left: 690px;
	margin-top: 8px;
	position: absolute;
}
.about li  {
text-decoration: none;
list-style-type: none;
}
.about li a {
text-decoration: none;
color: black;
	font-family: IBMPlexSans;
}

.about {
	font-size: 18px;
	position: absolute;
	margin-left:380px;
	margin-top: 8px;
}

.bio {
    font-size: 14pt;
    position:absolute;
    width: 750pt;
    margin-top: 120pt;
    margin-left: -50pt;
}


.variation {
	font-size: 18px;
	position:absolute;
	margin-top: 8px;
	margin-left: 1000px;

}

.variation li {
text-decoration: none;
list-style-type: none;
}

.variation li a{
text-decoration: none;
	font-family: IBMPlexSans;
	color: black;
}


.playground {
	font-size: 18px;
	margin-left: 1350px;
	margin-top: 8px;
	position: absolute;
}


.playground li {
	text-decoration: none;
	list-style-type: none;
}
.playground li a {
	text-decoration: none;
	font-family: IBMPlexSans;
	color: black;
}



.pp {
	width: 500px;
	padding-left: 842px;
	padding-top: 75px;
	position: absolute;
}

.pic {
	width: 570px;
	padding-left: 1000px;
	padding-top: 60px;
	position: absolute;
    margin-bottom: 100pt;
}


.title {
	font-family: IBMPlexSans;
	padding-left: 240px;
	padding-top: 120px;
    font-size: 40pt;
}

.pp {
	font-size: 15pt;
	position: absolute;
}

.info {
	padding-top: 400pt;
	padding-left: 115pt;
    padding-bottom: 200pt;
    position:absolute;
}

