@font-face { font-family: Nitti-Normal; src: url('fonts/Nitti-Normal.ttf'); } 
@font-face { font-family: IBMPlexSans-Regular; src: url('fonts/IBMPlexSans-Regular.ttf'); } 
@font-face { font-family: IBMPlexSans-Bold; src: url('fonts/IBMPlexSans-Bold.ttf'); } 
@font-face { font-family: NeueHaasDisplay-Medium; src: url('fonts/NeueHaasDisplay-Medium.ttf'); } 
@font-face { font-family: NeueHaasDisplay-Bold; src: url('fonts/NeueHaasDisplay-Bold.ttf'); } 
body {
background-color: #ffffff;
}

.ab {
	font-family: IBMPlexSans;
	font-size: 22pt;
	padding-left: 180pt;
	padding-right: 20pt;
	padding-top: 10pt;
	position: absolute;
	display: absolute;
}

p {
	font-family: Nitti-Normal;
    
	font-size: 22pt;
	padding-left: 180pt;
	padding-right: 20pt;
	padding-top: 10pt;
	position: absolute;
	display: absolute;
}

h1 {
	color: black;
	font-family: IBMPlexSans;
	font-size: 33px;
	margin-top: 90px;
	margin-left: -60px;
	transform: rotate(90deg);
	position: absolute;
}
h2 {
font-size: 18pt;
margin-left: -50pt;
position: absolute;
font-style:IBMPlexSans-Medium;
}


.pp {
	width: 500px;
	padding-left: 842px;
	padding-top: 75px;
	position: absolute;
}

.pic {
	width: 570px;
	padding-left: 1000px;
	padding-top: 60px;
	position: absolute;
    margin-bottom: 100pt;
}

.pp {
	font-size: 15pt;
	position: absolute;
}

.info {
	padding-top: 400pt;
	padding-left: 115pt;
    padding-bottom: 200pt;
    position:absolute;
}

