@font-face { font-family: Nitti-Normal; src: url('fonts/Nitti-Normal.ttf'); } 
@font-face { font-family: Nitti-Bold; src: url('fonts/Nitti-Bold.ttf'); } 
@font-face { font-family: IBMPlexSans-Regular; src: url('fonts/IBMPlexSans-Regular.ttf'); } 
@font-face { font-family: IBMPlexSans-Bold; src: url('fonts/IBMPlexSans-Bold.ttf'); } 
@font-face { font-family: NeueHaasDisplay-Medium; src: url('fonts/NeueHaasDisplay-Medium.ttf'); } 

body {
background-color: #ffffff;
}

.vid {
    margin-top: 1250pt;
    margin-left: 70pt;
    position: absolute;
}

p {
	font-family: Helvetica-Light;
	font-size: 12pt;
	padding-bottom: 100pt;
	position: absolute;
}

img.af1 {
	width: 1245pt;
	margin-left: 5pt;
	position: absolute;
	margin-top: 180pt;
}

img.a2 {
	width: 595pt;
	margin-top: 1305pt;
	margin-left: 5pt;
	position:absolute;
}

img.a3 {
	width: 630pt;
	margin-top: 1305pt;
	margin-left: 610pt;
	position:absolute;
}

img.a4 {
	width: 420pt;
	margin-top: 1800pt;
	margin-left: 820pt;
    margin-bottom: 100pt;
	position:absolute;
}
img.a5 {
	width: 390pt;
	margin-top: 1800pt;
	margin-left: 400pt;
	position:absolute;
    margin-bottom: 100pt;
}


h2  {
margin-left: 130pt;
margin-top: 900pt;
position: absolute;
font-family: Nitti-Bold;
font-style: italic;
font-size: 20pt; 
}

h3  {
margin-left: 400pt;
margin-top: 1050pt;
position: absolute;
font-family: Nitti-Normal;
font-style: italic;
font-size: 18pt;
color: grey;   
}

p2 {
font-size: 12pt;
font-family: Helvetica;
line-height: 1.2;
}

.data {
    position:absolute;
    margin-top: 945pt;
    margin-left: 130pt;
    width: 400pt;
    color: grey;
}

.box1 {
margin-left:430pt;
margin-top: 890pt;
width: 650pt;
position: absolute;
}

.box2 {
margin-left: 800pt;
margin-top: 890pt;
width: 350pt;
position: absolute;
}

.box3 {
margin-top: 2080pt;
margin-left: 680pt;
width: 390pt;
position: absolute;
margin-bottom: 100pt;
}

.title {
	font-family: IBMPlexSans;
	padding-left: 800px;
	padding-top: 100px;
}

.info {
	padding-top: 280pt;
	padding-left: 445pt;
}


/*
hr.nav2 {
  border-top: 1px solid;
    color: #d4d2d2;
    margin-top: 20pt;
    margin-left: 200pt;
    width: 1200pt;
    position: absolute;
}
*/


img.s1 {
	width: 500pt;
	margin-top: 1990pt;
	margin-left: 120pt;
	position:absolute;
    margin-bottom: 100pt;
}

p3 {
    font-size: 15pt;
    width: 200pt;
    position: absolute;
    font-family: Helvetica;
}

.sty {
    margin-top: 1750pt;
    margin-left: 250pt;
    position: absolute;
}

.po {
    margin-top: 2060pt;
    margin-left: 680pt;
    position: absolute;
}




