body {
background-color: #ffffff;
}

img{
    display: none;
}
  
.emr:hover img { 
    display: block;
    width: 400pt;
    margin-left: 900px;
    position:absolute;
	margin-top: -40px;
}

.emr {
	font-size: 20px;
	margin-left: 400px;
	margin-top: 230px;
	position: absolute;
}

.autumn {
	font-size: 20px;
	position:absolute;
	margin-left: 400px;
	margin-top: 330px;
}

.autumn:hover img { 
display: block; 
width: 400pt;
margin-left: 900px;
margin-top: -120px;
}

img.autumn {
    margin-top: -100pt;
    margin-left: 430pt;
    width: 600pt;
}


.Dreamchat {
	font-size: 20px;
	position: absolute;
	margin-left: 400px;
	margin-top: 430px;
}
.Dreamchat:hover img { 
    display: block;
    width:400pt;
    margin-left: 900px;
	margin-top: -220px;
}

img.Dreamchat {
 margin-top: -170pt;
    margin-left: 430pt;
    width: 600pt;
}

.dragonfly {
	font-size: 20px;
	position: absolute;
	margin-left: 500px;
	margin-top: 530px;
}
p.type {
   font-size: 18px;
	margin-left: 192px;
	margin-top: 40px;
	position: absolute;
    width: 700pt;
    font-family: Nitti-Bold;
}
.emr li {
	text-decoration: none;
	list-style-type: none;
}
.emr li a {
	text-decoration: none;
	font-family: Nitti-Normal;
	color: black;
}

.Dreamchat li  {
text-decoration: none;
list-style-type: none;
}
.Dreamchat li a {
text-decoration: none;
font-family: Nitti-Normal;
color: black;
}

.autumn li {
text-decoration: none;
list-style-type: none;
}

.autumn li a{
text-decoration: none;
	font-family: Nitti-Normal;
	color: black;
}

.void li {
	text-decoration: none;
	list-style-type: none;
}
.void li a {
	text-decoration: none;
	font-family: Nitti-Normal;
	color: black;
}
.aoife li {
text-decoration: none;
list-style-type: none;
}

.aoife li a{
text-decoration: none;
	font-family: Nitti-Normal;
	color: black;
}

.dragonfly li  {
text-decoration: none;
list-style-type: none;
}
.dragonfly li a {
text-decoration: none;
	font-family: Nitti-Normal;
	color: black;
}

.figment li  {
text-decoration: none;
list-style-type: none;
}
.figment li a {
text-decoration: none;
	font-family: Nitti-Normal;
	color: black;
}

.emr li a:hover{
  color: #ed9d09;
  text-shadow:0px 0px 20px #ff7f23;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
         background-image: url(projectpics/af1.jpg);
}

.autumn li a:hover{
	  color: #ed9d09;
  text-shadow:0px 0px 20px #ff7f23;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}
.Dreamchat li a:hover{
color: #ed9d09;
  text-shadow:0px 0px 20px #ff7f23;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}


.pp {
	width: 500px;
	padding-left: 880px;
	padding-top: 60px;
	position: absolute;
}

.info {
	padding-top: 280pt;
	padding-left: 445pt;
}

p {
	font-size: 19pt;
	padding-left: 220pt;
	padding-right: 20pt;
	padding-top: 80pt;
	position: absolute;
	display: absolute;
}


.indv{
    margin-top: 4%;
    margin-left: -180pt;
}
.af1{
    height: auto;
    width: 43%;
    margin-top: 13%;
    margin-left: 49%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.nostyle {
    text-decoration: none;
    color: black;
}

